@charset "utf-8";

/* リセットと基本設定 */
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* header */
header {
    background: #186AC9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}
